.country{
    border: 2px solid salmon;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
.btn{
    padding: 10px;
    margin: 10px;
    background-color:skyblue;
    border-radius: 10px;
}
.country-visited{
    background-color: darkseagreen;
    color:white;
}
.visited-flag-container img{
     width: 100px;
     margin-right: 10px;
}